/* Definindo a cor de fundo das páginas HTML */
body {
  background-color: #5c65c0;
}


/* Montando o card com os inputs do Formulário */
.content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
